// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'button';

.gallery-item {
  width: 19%;
  margin-right: 2%;
  margin-bottom: 2%;
  display: inline-block;
  position: relative;

  .gallery-image {
    width: 100%;
  }

}

.gallery-count {
  display: inline-block;
  position: absolute;
  top: 25%;
  right: 0%;
  background: black;
  font-size: 50px;
  text-align: center;
  color: white;
}

p {
  font-size: 25px;
}

.agree {
  background-image: $agree_icon;
  background-size: cover;
  position: absolute;
  width: 50px;
  height: 50px;
  display: inline-block;
  right: 0;
  bottom: 0px;
  cursor: pointer;
}

.disagree {
  background-image: $disagree_icon;
  background-size: cover;
  position: absolute;
  width: 50px;
  height: 50px;
  display: inline-block;
  left: 0;
  bottom: 0px;
  cursor: pointer;
}

.action {
  display: block;
  z-index: 999;
}
